h1 {

	color: #CC3366;
}

h2, h3 {

	color: #663366;
	font-family: Trebuchet MS;
}

a:hover {
  color:#f00;
}

#wrapper {

	width: 650px;
	margin: 25px auto 0;
	background: white;
	color: #336699;
	padding: 1.5em 0 3em 3em;
}

body {
	background-image:url('/images/binding_dark.png');
	background-position: center;
	font-family: Tahoma, sans-serif;
}

#table{

	border-collapse:collapse;
	border-bottom: 1px solid #336699;
}

#table_admin{

	border-collapse:collapse;
	border-bottom: 1px solid #336699;
	width: 550px;
}

form {

	color: #CC3366;
	width: 320px;
	display: block;
	padding: 1em;

}



#title {

	border-bottom: 1px solid #336699;

}

td, tr, th {

	color: #336699;
	padding: 15px;
	width: 10em;
}

#login_form {
	width: 300px;
	margin: 150px auto 0;
	padding: 1em;
	display: block;
	text-align: center;
	color: #336699;
}
#login_heading {

	padding: 0 0 0 1.5em;
	color: #CC3366;
	font-family: Trebuchet MS;
}
input {

	display: block;
	margin: 1em 0 1em 1.5em;
	width: 280px;
	border: 1px solid black;
	padding: 1em;

}

.hidden {

	display: none;

}