h1 {

	color: #102E37;
	text-align: center;
	font-family: Trebuchet MS;
	font-size: 30px;
	padding: 1em;
}

h2 {

	font-size: 20px;
	padding: 0 0 1em 0;
	color: #102E37;
	text-align: center;
	font-family: Trebuchet MS;
}

h3 {

	font-size: 18px;
	color: #102E37;
	text-align: center;
	font-family: Trebuchet MS;
	padding: 0 0 1.5em 0;
}

h4 {

	font-size: 16px;
	color: #102E37;
	text-align: center;
	font-family: Trebuchet MS;
}

p {

	text-align: center;
}

.employee_info {

	font-size: 18px;
}
#wrapper {

	width: 900px;
	margin: 25px auto 0;
	background: white;
	color: #102E37;
	padding: 0 30px 30px 30px;
}

body {
	background-image:url('/assets/images/low_contrast_linen.png');
	background-attachment: fixed;
	font-family: Tahoma, sans-serif;
}

.logged_in p{

	text-align: right;
}

.week_title {

	padding: 10px;
	margin: 15px 0 0 0;
	background: #2BBBD8;

}

.week_title h4 {

	color: white;
	font-size: 18px;
}

.week_title a {

	color: #FFFF99;
	text-decoration: none;
}

.week_title a:hover {

	color: blue;
}

table {

	border-collapse:collapse;
	width: 100%;
	margin: 0 0 25px 0;
	border: 1px solid #DDE3D3;
}

.admin_table {

	margin: 2em 0 0 0;

}

td { 

	color: ##6B6C64;
	padding: 15px;
	text-align: center;
	border-collapse:collapse;
}

tr {

	color: ##6B6C64;
	padding: 15px;
	text-align: center;

}

tr:nth-child(odd) {

	background: #EDF5E1;
	
}

tr:nth-child(even) {

	background: #DDE3D3;
	
}

th {

	color: black;
	background: #C3E2E8;
	padding: 15px;
	border-collapse:collapse;
	text-align: center;
}

form {

	color: #CC3366;
	width: 320px;
	display: block;
	padding: 1em;

}


#title {

	border-bottom: 1px solid ##6B6C64;

}

#login_form {
	width: 300px;
	margin: 150px auto 0;
	padding: 1em;
	/*display: block;*/
	text-align: center;
}
#login_heading {

	padding: 0 0 0 1.5em;
	color: #2BBBD8;
	font-family: Trebuchet MS;
}
input {

	display: block;
	margin: 1em 0 1em 1.5em;
	width: 280px;
	border: 1px solid black;
	padding: 1em;

}

.hidden {

	display: none;

}

.flash h3{

	font-style: italic;

}

.nav_bar {

	text-align: center;
	background: #156C7D;
	padding: 10px;
	color: #FFFF99;
	margin: 0 -30px;
}
.nav_bar ul {

	list-style-type: none;

}

.nav_bar li {

	display: inline;
	padding: 5px;
	font-weight: bold;
}

.nav_bar a {

	text-decoration: none;
	color: white;
}

.nav_bar a:hover {

	color: #FFFF99;
}

.button {

	text-align: center;

	padding: 10px;
}
.button a{
	padding: 5px;
	text-decoration: none;
	background: #2BBBD8;
	color: white;
	font-weight: bold;
	
}

.button a:hover {

	color: purple;

}

label.invalid {
	color: red;
	font-style: italic;
	font-family: Trebuchet MS;
	display: block;
	padding: 0 0 20px 0;
}

input.invalid { 
	
	border-color: red;
}

.ui-datepicker {

	font-size: 8pt !important;

}