/*light blue: #C3E2E8
charcoal: #102E37
medium blue: #2BBBD8
yellow: #FFFF99
navy blue: #156C7D
*/

body {
	background-image:url('/assets/images/low_contrast_linen.png');
	background-attachment: fixed;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

h1 {

	color: #102E37;
	font-family: Trebuchet MS;
	font-size: 30px;
	padding: 15px 0 15px 0;
	font-weight: 100;
}

h2 {

	font-size: 20px;
	padding: 5px;
	color: #102E37;
	font-family: Trebuchet MS;
	font-weight: 100;
}

h3 {

	font-size: 18px;
	color: #102E37;
	font-family: Trebuchet MS;
	padding: 15px 0 15px 0;
	
}

h4 {

	font-size: 16px;
	color: #102E37;
	font-family: Trebuchet MS;
	
}

h4 a i { 

	font-size: 18px; 
	font-weight: normal; 
	padding: 5px; 
	color: white;
	display: inline-block !important;
}

.week_links {

	text-decoration: none;
	color: #156C7D;
	font-family: trebuchet ms;
	font-size: 16px;
}

a {

	color: #2BBBD8;
	text-decoration: none;
}

a:hover{

	color: #156C7D;
}

.link {

	font-size: 16px;
	color: #102E37;
	font-family: Trebuchet MS;
	padding: 15px 0 0 5px;
	font-weight: bold;
	text-decoration: none;
}

.employee_info {

	font-size: 18px;
}

#wrapper {

	width: 900px;
	margin: 25px auto 0;
	background: white;
	color: #102E37;
	padding: 0 30px 30px 30px;
}

.logged_in p{

	text-align: right;
}

.title {

	padding: 5px 0 15px 20px;
	margin: 15px 0 0 0;
	background: #2BBBD8;
	text-align: left;

}

.title h4 {

	color: white;
	font-size: 17px;
}

.title a {

	color: #FFFF99;
	text-decoration: none;
}

.title a:hover {

	color: #156C7D;
}

table {

	border-collapse:collapse;
	width: 100%;
	margin: 0 0 25px 0;
	border: 1px solid #DDE3D3;
}

th {

	color: black;
	background: #C3E2E8;
	padding: 15px 15px 15px 20px;
	border-collapse:collapse;
	font-family: trebuchet MS;
	font-size: 16px;
}

td { 

	color: #102E37;
	padding: 15px 15px 15px 20px;
	border-collapse:collapse;
	font-size: 14px;
	
}

tr {

	color: #6B6C64;
	padding: 25px;

}

.float_right {

	float: right;
	padding-right: 55px;
}

tr:nth-child(odd) {

	background: #DDE3D3;

}

tr:nth-child(even) {

	background: #EDF5E1;

}


.employee_table th {

	color: white;
	background-color: #2BBBD8;
	font-family: Trebuchet MS;
	font-size: 16px;
	font-weight: bold;

}


.employee_table tr.row_1 {
    
    background: #DDE3D3;
}


.employee_table tr.row_2 {
    
    
    background: #EDF5E1;

}


form {

	color: #2BBBD8;
	/*width: 320px;*/
	display: block;
	padding: 1em;
	font-weight: bold;
	font-family: trebuchet MS;
	font-size: 16px;

}


.comment a {

	text-decoration: none;
	color: #156C7D;
	font-size: 16px;
}

#login_form {
	width: 400px;
	margin: 150px auto 0;
	padding: 1em;
	border: 1px solid #DDE3D3;
	background-color: white;
}

.login_heading p {

	padding: 20px 0 5px 35px;
	color: #102E37;
	font-family: Trebuchet MS;
	font-size: 30px;
}

.company_heading p {

	padding: 20px 0 20px 5px;
	color: #102E37;
	font-family: Trebuchet MS;
	font-size: 30px;
}

input {

	display: block;
	margin: 1em 0 1em 1.5em;
	width: 280px;
	padding: 1em;

}

input[type=submit] {

	color: white;
	background: #156C7D;
	font-family: trebuchet ms;
	border: none;
	font-size: 14px;
	width: 120px;
	clear: right;

}

input[type=submit]:hover {

	color: #FFFF99;
}



.hidden {

	display: none;

}

.flash h3{

	font-style: italic;
	padding: 10px;
	color: orange;

}

.wronglogin_flash {

	color: red;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	padding: 5px;
	padding-left: 35px;
	font-family: trebuchet ms;
}

.nav_bar {

	background: #156C7D;
	padding: 10px;
	color: #FFFF99;
	margin: 0 -30px;
}
.nav_bar ul {

	list-style-type: none;

}

.nav_bar li {

	display: inline;
	padding: 5px;
	font-weight: bold;
}

.nav_bar a {

	text-decoration: none;
	color: white;
}

.nav_bar a:hover {

	color: #FFFF99;
	padding: 0 0 25px 0;
}

.button {

	text-align: left;
	padding: 10px 0;
}
.button a {
	padding: 5px;
	text-decoration: none;
	background: #2BBBD8;
	color: white;
	font-weight: bold;

}

.button a:hover {

	color: yellow;

}

label.invalid {
	color: red;
	font-style: italic;
	font-family: Trebuchet MS;
	display: block;
	padding: 0 0 20px 0;
}

input.invalid { 

	border-color: red;
}

.ui-datepicker {

	font-size: 8pt !important;

}